@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Montserrat:ital,wght@0,400;1,300&family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  color: Purple;
}
